.searchSection {
  text-align: center;
  padding: 130px 0px 130px;
}

.searchInput {
  height: 50px;
  width: 500px;
  border-radius: 25px;
  text-align: center;
  font-size: 140%;
  font-weight: bold;
  background-color: rgb(231, 231, 195);
}

.searchBtn {
  padding: 1%;
  border-radius: 25px;
  background-color: lightgray;
}
